.hoverImg:hover{
    filter: opacity(50%);
    transition: 400ms;

}
@media all and (max-width: 576px ){
    .img-responsive{
        height: 250 px;
        object-fit: cover;
    }

    .img-center{
        text-align: center;
    }
}
.ul-none{
    list-style: none;
}